 .header {
    width: 100%;
    height: 99px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0 2px 10px #0000000F;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .logo {
    height: 37px;
  }
  
  .sign {
    display: flex;
  }
  
  .signIn , .signUp  {
    width: 189px;
    height: 52px;
    font-size: 16;
    color: #FAC222;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signIn:hover  {
  background-color: #FAC222;
  color: white;
  }
  
  
  .signUp:hover {
    background-color: #FAC222;
    color: white;
    }