body {
  margin: 0;
  background-color: #F1F3F5;
}






 .categories {
  width: 260px;
  height: 75px;
  font-size: 32px;
  color: #FFFFFF;
  background-color: #FAC222;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category_list_item {
  font-size: 18px;
  color: #FAC222;
  text-transform: uppercase;
  /* font-weight: bold; */
  border-radius: 35px;
  margin-top: 40px;
}

.category_list_item:hover {
  width: 230px;
  height: 50px;
  padding-left: 30px;
  color: #FFFFFF;
  background-color: #FAC222;
  font-weight: bold;
  font-size: 20px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  transition: all 1s ease-in;
}

.second {
  display: flex;
}